
body {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}
.main {
    margin-top: 46px;
    position: absolute;
    margin-left: 300px;
    margin-right: 291px;
    font-family: 'Dosis', sans-serif;
    ul {
        text-align: center;
        list-style-type: none;
    }
}
.hidden {
  display: none;
}
