.best a {
  margin-right: 15px;
  width: 144px;
  /*padding-right: 47px;*/
  color: #0cf;
  border-bottom: 3px solid #0cf; }
  .best a:hover {
    border-bottom: 10px solid #0cf; }

.create a {
  margin-right: 15px;
  width: 144px;
  color: #fff35c;
  border-bottom: 3px solid #fff35c; }
  .create a:hover {
    border-bottom: 10px solid #fff35c; }

.contact a {
  margin-right: 15px;
  width: 144px;
  color: #f66;
  border-bottom: 3px solid #f66; }
  .contact a:hover {
    border-bottom: 10px solid #f66; }

.login a {
  margin-right: 15px;
  width: 144px;
  color: #9932cc;
  border-bottom: 3px solid #9932cc; }
  .login a:hover {
    border-bottom: 10px solid #9932cc; }

.worst a {
  margin-right: 15px;
  width: 144px;
  color: #0f9;
  border-bottom: 3px solid #0f9; }
  .worst a:hover {
    border-bottom: 10px solid #0f9; }

h2 {
  font-family: 'Candal', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 53px;
  margin-top: 19px;
  color: white; }

.top {
  left: 0;
  right: 0;
  height: 70px; }

.images img {
  border-radius: 5px; }

.fivepics {
  display: inline-block; }
  .fivepics img {
    display: inline-block;
    margin-bottom: 30px; }

.nav {
  /*background-color: #93f;*/
  font-family: 'Open Sans', sans-serif; }
  .nav ul {
    font-size: 20px;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0; }
  .nav li {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-right: -4px; }
  .nav a {
    text-decoration: none;
    display: block; }

.thumbs {
  margin-left: 174px; }
  .thumbs a {
    padding-right: 15px; }

.thumbsup {
  position: relative;
  /* left: -391px; */
  right: 306px;
  top: -272px;
  width: 25%;
  height: 184px; }
  .thumbsup:hover {
    transform: scale(1.1);
    opacity: .8; }

.thumbsdown {
  position: relative;
  /* left: -391px; */
  left: 335px;
  top: -272px;
  width: 25%;
  height: 184px; }
  .thumbsdown:hover {
    transform: scale(0.9);
    opacity: .8; }

img {
  width: 100%;
  height: 320px; }

.page1image {
  margin-right: 35%;
  margin-left: 35%; }
  .page1image img {
    position: relative;
    width: 100%; }

button {
  background-color: black;
  border: none; }

#usermsg {
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

.comments {
  font-size: 16px;
  border: solid 1px;
  background-color: #fff;
  color: grey;
  font-family: 'Open Sans', sans-serif; }
  .comments a {
    color: grey;
    text-decoration: none; }
  .comments li {
    margin-bottom: 37px; }
  .comments:hover {
    color: red; }

.comment {
  display: inline-block; }

.usernameval {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif; }

.commentforms {
  margin-top: -134px;
  border: solid 1px grey;
  padding: 10px; }

h5 {
  color: #fff; }

body {
  background-color: #000;
  font-family: 'Open Sans', sans-serif; }

.main {
  margin-top: 46px;
  position: absolute;
  margin-left: 300px;
  margin-right: 291px;
  font-family: 'Dosis', sans-serif; }
  .main ul {
    text-align: center;
    list-style-type: none; }

.hidden {
  display: none; }
