/*body {
  font-family: 'Chewy', cursive;
}*/

.page1image img {
    position: relative;
    width: 100%;
}
.page1image {
    margin-right: 35%;
    margin-left: 35%;
}
.best a {
  padding-right: 47px;
}
h2 {
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 100px;
    margin-top: 5px;
    color: #ff9100;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.comment {
    display: inline-block;
}
.usernameval {
    display: inline-block;
    width: 100%;
}


.top {
    left:0; right:0;
    height: 147px;
    background-color: #e6e6e6;
    border: solid black 1px;
}

.main {
  margin-top: 46px;
  position: absolute;
  margin-left: 370px;
  margin-right: 344px;
  font-family: 'Dosis', sans-serif;
}
.comments   {
  font-size: 20px;
  border: solid 1px;
  background-color: #e6e6e6;
  color: grey;
}

.main ul {
  text-align: center;
list-style-type: none;
}

img {
  width: 100%;
height: 320px;
}
.thumbs img {
  width: 22%;
  height: 88px;
  margin-bottom: 25px;
  margin-top: 11px;
  /*border: solid black 1px;*/
  border-radius: 28px;
  background-color: #ff9100;
  padding: 13px;
}
.thumbs {
    margin-left: 174px;
}
.thumbs a {
  padding-right: 15px;
}


.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  text-shadow: .5px 0 #ff9100, 0 .5px #ff9100, .5px 0 #ff9100, 0 -1px #ff9100;

}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}


  .nav li {
    display: inline-block;
    margin-right: -4px;
  }


.comments li {
      margin-bottom: 37px;
}
.comments a {
  color: grey;
  text-decoration: none;
}
#usermsg {
  width: 100%;
}

.images img {
  border: solid black 1px;
}
